#html{
    background-color: rgb(245, 34, 122) !important
}

#html.html{
    background-color: rgb(109, 10, 139)
}
#html{
    background-color: rgb(218, 34, 110)
}


.html{
    background-color: rgba(172, 7, 7, 0.63);
    color: aquamarine;
 } 

.html{
    background-color: deeppink
}
li{
  background-color: blueviolet;
}

li{
    background-color: darkgreen !important; 
    
}

li{
    background-color: greenyellow !important ;
}

/* li{
    background-color:chartreuse;
 } */
/* 
 li{
    background-color: rgb(62, 7, 114);
  } */
  
 


