.one {
  background-color: cornflowerblue;
  /* max-width: 500px;
  min-width: 300px; */
  /* width: 50%;
  word-break: break-all; */

  width: 500px;
  height: 400px;
  padding: 15px;

} 

.two{
    background-color: rgb(183, 77, 209);
}
