 /* html{
    font-size: 10px;
 }  */
body{
    margin: 0;
    font-size: 2em;
}
section{
    background-color: aquamarine;
    /* padding: 10%; */
    width: 10vw;
    width: 50vh;
    padding: 10vw;
     margin: 10vw;
    border: 20px solid;
    color: rgb(36, 6, 12);
    /* font-size: 100px; */
    /* margin: 10%;
    box-sizing: border-box;
    font-size: 200px;
     /* */
     /* font-size: 32px;  */
     /* font-size: 5rem; */
     margin: 2em;
     padding: 1em;
    
}
.box{
    background-color: deeppink;
    /* width: 50%; */
    /* padding: 10%; */
    /* margin: 10%; */
    width: 10em;
    /* font-size: 2em; */
    /* font-size: 5rem; */
    margin: 2em;
    padding: 1em;
}
